.home {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: inherit; /* 親要素からフォントサイズを継承する */
}

.targetTask {
    margin-bottom: 5px;
    padding: 4px 8px;
    font-size: inherit; /* フォントサイズを親要素から継承 */
}

.task-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.todo-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.todo input {
    width: 50%;
    padding: 8px;
    font-size: inherit; /* フォントサイズを親要素から継承 */
}

.todo button {
    padding: 8px 12px;
    font-size: inherit; /* フォントサイズを親要素から継承 */
    cursor: pointer;
    background-color: #6aa241;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.todo button:hover {
    background-color: gray;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: inherit; /* フォントサイズを親要素から継承 */
}

.todo td:first-child {
    width: 70%;
}

.todo td:nth-child(2) {
    width: 15%;
}

.todo td:nth-child(3) {
    width: 15%;
}

button {
    background-color: #6aa241;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: inherit; /* フォントサイズを親要素から継承 */
}

button:hover {
    background-color: gray;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button.add {
    background-color: #6aa241;
}

button.inProgress {
    background-color: #6aa241;
}

button.completed {
    background-color: #6aa241;
}

table td:hover, table th:hover {
    background-color: gray;
}

.task-stats {
    margin-top: 20px;
    font-size: inherit; /* フォントサイズを親要素から継承 */
}

div.todayTargetTask {
    font-size: inherit; /* フォントサイズを親要素から継承 */
    font-weight: bold;
}

p.todayRandomTask {
    font-size: inherit; /* フォントサイズを親要素から継承 */
    font-weight: bold;
}

button.delete {
    background-color: #f7a4a4;
    color: white;
}

button.delete:hover {
    background-color: #e87c7c;
}

button.delete:disabled {
    background-color: #f1c1c1;
    cursor: not-allowed;
}
